body, button, input{
    font-family: 'Titillium Web', sans-serif;
}

body{
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    background-color: burlywood;
}

#savedSites p{
    display: inline;
    margin-right: 15px;
}

#savedSites Span{
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.plusButton{
    font-size: 24px;
    color: papayawhip;
}

input{
    border-color: saddlebrown;
    background-color: papayawhip;    
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
}

button{
    border-radius: 5px;
    background-color: papayawhip;
    border-color: saddlebrown;
}

body > div.\2e currentSites{
    border-top: 1px solid saddlebrown;    
}

#save{
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}
.parentList {
    margin-left: 5px;
    padding-left: 0px;
}

input[type="text"]
{
    width: 70%;        
}   
input[type="submit"]
{
    width: 20%;        
    margin-left: 10px;
}     